.reveal section img { background:none; border:none; box-shadow:none; }
section#fragments.title div.fragment { margin-top: 135px; font-size: 30px; }
body { background: url('../img/abstract-258338_1920.png') no-repeat center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
